@import '../colors';

.table {
  border-collapse: collapse;
}

.th {
  background-color: black;
}

.playerNameBefore {
  padding-left: 50px;
  padding-right: 25px;
  visibility: hidden;
}

.playerNameAfter{
  padding-left: 50px;
  padding-right: 25px;
}

.statsBefore {
  padding-left: 40px;
  padding-right: 25px;
  visibility: hidden;
}

.statsAfter {
  padding-left: 40px;
  padding-right: 25px;
}

.rankingNumBefore {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 10px;
  height: 10px;
  background-color: $red;
  display: inline-block;
}

.selectedRow {
  transition: transform 100ms ease-in-out;
  color: $red;
}

.loadedTableRow:hover, .selectedRow:hover {
  background-color: $yellow;
}

.loadedTableRow:hover {
  color: $black;
}

.playerHead {
  width: 65px;
  height: 48px;
}